.about-container{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 10%;
  width: 60%;
  margin: auto;
  margin-top: 6vh;
  letter-spacing: 1px;
}

.about-img{
  margin-right: 10%;
  text-align: center;
  margin-right: auto;
}

.about-img img{
  border-radius: 100%;
}

.about-text{
  text-align: justify;
  margin-bottom: auto;
  font-size: 20px;
  justify-content: space-around;
  margin-left: 3%;
}

.about-button{
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}

.about-button button{
  cursor: pointer;
}

.text-container{
  display: flex;
}

.visualizar-button{
  width: 150px;
  padding: 10px 8px;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
  color: black;
  background-color: #fff;
  margin-top: 20px;
  font-size: 20px;
}

.visualizar-button:hover{
  background-color: darkslateblue;
  transition: 0.3s;
  color: white;
  text-decoration: none;
}

.baixar-button{
  width: 150px;
  padding: 10px 8px;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
  color: black;
  background-color: #fff;
  margin-top: 20px;
  font-size: 20px;
}

.baixar-button:hover{
  background-color: darkslateblue;
  transition: 0.3s;
  color: white;
}