.title-container{
  margin-top: 7%;
  justify-content: center;
  border-bottom: 2px solid #fff;
  text-align: center;
  font-size: 35px;
}

.contact-container{
  margin-top: 7%;
  display: flex;
  justify-content: center;
}